@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,200;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper {
    @apply container mx-auto;
  }
  .section {
    @apply pt-24 py-14 lg:py-16 xl:py-20 2xl:py-24;
  }
  /* lock body scroll when mobile menu is open */
  .lock {
    @apply overflow-hidden;
  }
  .btn {
    @apply uppercase py-4 px-8 rounded font-medium w-fit tracking-wide lg:text-xl;
  }
  .btn-primary {
    @apply bg-blue;
  }
  .btn-secondary {
    @apply bg-transparent border border-blue dark:text-light;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

html.light ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.light ::-webkit-scrollbar-track {
  background-color: #ededed;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.dark ::-webkit-scrollbar-track {
  background-color: #171717;
}

/* header background animation */
.bg-move {
  -webkit-animation: bgAnimation 80s linear 0s infinite;
  animation: bgAnimation 80s linear 0s infinite;
}

@keyframes bgAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* WorksCarousel slider */
.worksCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.worksCarousel .swiper-wrapper {
  height: 400px;
}

.worksCarousel .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.worksCarousel .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  border: 2px solid #171717;
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
}

.worksCarousel .swiper-pagination-bullet-active {
  background: #171717;
}

/* link hover effect */
.link::after {
  content: '';
  width: 0;
  height: 2.3px;
  background-color: #2A86FF;
  margin: auto;
  display: block;
}

.link:hover::after {
  width: 100%;
  transition: width 0.1s linear;
}
